<style>
</style>
<div class='jumbotron myJumbo'>
  <div id="map"></div>
</div>
<div class='mainContain'>
  <div class='jumbotron mainTruck'>
    <h1>Proximity Truck</h1>
  </div>
  <div class='jumbotron mainReview'>
    <h1>Corresponding Review</h1>
  </div>
</div>
