<div class='jumbotron'>
  <h1>Truck Map By Proximity Adding words to make another line.</h1>
</div>
<div class='mainContain'>
  <div class='jumbotron mainTruck'>
    <h1>Proximity Truck</h1>
  </div>
  <div class='jumbotron mainReview'>
    <h1>Corresponding Review</h1>
  </div>
</div>
