<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css" rel="stylesheet" integrity="sha384-Li5uVfY2bSkD3WQyiHX8tJd0aMF91rMrQP5aAewFkHkVSTT2TmD2PehZeMmm7aiL" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{title}}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li>
              <div class="navbar-brand">

              </div>
            </li>
          </ul>
          <form class="navbar-form navbar-left"role="search" id="search">
            <label>Select By </label>
            <select class="form-control" id="select">
              <option>Location</option>
              <option>Food Truck Name</option>
              <option>Food Type</option>
            </select>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {{#if loggedIn}}
              <li><a href="/logout">Logout</a></li>
            {{else}}
              <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src='/javascripts/main.js'></script>
    <script src='/javascripts/map.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC3pdD43USbZV5vRojdGTZ72TCr3b4ovs&callback=initMap"></script>
    </main>
  </body>
</html>
