<form class="" action="/events/new" method="post">
  This is a form that will create a new event.
  <input type="hidden" name="ownerId" value="{{ownerId}}">
  <input type="submit" name="submit" value="submit">
</form>
