<style>
</style>
<div class='jumbotron myJumbo'>
  <div id="map"></div>
</div>
<div class='mainContain'>
  <div class='mainTruck'>
    <h1 id="selectTruckMessage">Select a Truck</h1>
    <div class="truckSnapshot">
      <div class="truckSnapshotImageBox">
        <img class="truckSnapshotImage" src="" alt="truck image" />
      </div>
      <div class="truckSnapshotInfoBox">
        <a class="truckSnapshotLink" href="">
          <h1 class="truckSnapshotName">Truck Name</h1>
        </a>
        <!-- <h3 class="truckSnapshotGenre">Truck Genre</h3> -->
        <h3 class="truckSnapshotHours">
          <span class="truckSnapshotOpen">6:00</span>
          -
          <span class="truckSnapshotClose">18:00</span>
        </h3>

      </div>
    </div>
  </div>
  <div class='mainReview'>
    <h1>See it's Reviews</h1>
  </div>
</div>
