<div class='profileContain'>
  <div class='truckProfileInfo'>
    <div>
      <img src='http://www.heinz.com/media/downloads/view/HeinzLogo.jpg' class='logoContain'/>
    </div>
    <div class='panel panel-danger'>
      <div class='panel-heading'>
        <h3 class='panel-title'>Food Genre</h3>
      </div>
      <div class='panel-body'>
        Blurb about the truck, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
    <div class='panel panel-default'>
      <div class='panel-heading'>Schedule</div>
      <div class='panel-body schedule'>
        <div class='Sunday'>
        </div>
        <div class='Monday'>
        </div>
        <div class='Tuesday'>
        </div>
        <div class='Wednesday'>
        </div>
        <div class='Thursday'>
        </div>
        <div class='Friday'>
        </div>
        <div class='Saturday'>
        </div>
      </div>
    </div>
  </div>
    <img class='truckProfilePic' src='http://kid101.com/wp-content/uploads/2015/07/the-9-tastiest-looking-literal-food-trucks-in-the-world.jpg'/>
</div>
<div class="jumbotron profileJumboAdjust">
  <h1>Map</h1>
  <p>This map will display color-coded icons representing where the truck will be on each day. We'll need a color to denote an icon that matches where the truck is right then. My first thought is either white or black. Or option 2.</p>
  <p><a class="btn btn-primary btn-lg">Option 2</a></p>
</div>
<div class="jumbotron profileJumboAdjust">
  <div class='reviewContain'>
    <div>
      <h4>Username says:</h4>
      <p class='reviewText'>10-26-1985 01:24</p>
    </div>
    <p class='reviewText'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
  </div>
  <div class='reviewContain'>
    <div>
      <h4>Username says:</h4>
      <p class='reviewText'>10-26-1985 01:24</p>
    </div>
    <p class='reviewText'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div><div class='reviewContain'>
    <div>
      <h4>Username says:</h4>
      <p class='reviewText'>10-26-1985 01:24</p>
    </div>
    <p class='reviewText'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
