<div class='profileContain'>
  <div class='truckProfileInfo'>
    <div>
      <img src='http://www.heinz.com/media/downloads/view/HeinzLogo.jpg' class="logoContain"/>
    </div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Food Genre</h3>
      </div>
      <div class="panel-body">
        Blurb about the truck, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Schedule</div>
      <div class="panel-body schedule">
        <div class="Sunday">
        </div>
        <div class="Monday">
        </div>
        <div class="Tuesday">
        </div>
        <div class="Wednesday">
        </div>
        <div class="Thursday">
        </div>
        <div class="Friday">
        </div>
        <div class="Saturday">
        </div>
      </div>
    </div>
  </div>
  <!-- <div class='truckProfilePic'> -->
    <img class="truckProfilePic" src='http://kid101.com/wp-content/uploads/2015/07/the-9-tastiest-looking-literal-food-trucks-in-the-world.jpg'/>
  <!-- <div class='truckProfilePic'>
    <img src='http://kid101.com/wp-content/uploads/2015/07/the-9-tastiest-looking-literal-food-trucks-in-the-world.jpg'/>
  </div> -->
</div>
