.mainContain{
  display: flex;
  flex-flow: row;
  margin-left: 70px;
}

.mainTruck, .mainReview{
  width: 550px;
  margin-right: 50px;
  padding:5px;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.myJumbo {
  margin: 20px;
  padding: 0px;
}

/*START SIGNUP PAGE*/
.myMain {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.signupForm {
  height: 100%;
  min-width: 400px;
  display: none;
  font-size: 1.2em;
  background-color: rgba(0,0,0,0.5);
  padding: 5px 20px 10px 20px;
}

.formTopper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*END SIGNUP PAGE*/

.loginForm {
  width: 50%;
  min-width: 400px;
}



/*Truck Profile Css*/
.truckProfileInfo{
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
}

.truckDescription {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logoContain{
  width: 17vw;
  max-height: 100%;
  max-width: 100%;
}

.panel, .panel-danger{
  width: 100% !important;
  margin-bottom: 0px;
}

.truckPicture {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckPicture .truckProfilePic{
  max-width: 50vw;
  max-height: 20vw;
}

.scheduleInfo {
  width: 95vw;
  align-items: center;
  justify-content: center;
}

.scheduleInfo .panel {
  border: 0px;
}

.schedule{
  width: 95vw;
  display: flex;
  flex-direction: row;
  padding: 0vw !important;
}

.scheduleDay {
  width: calc(100vw / 7);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  background-color: rgba(0,0,0,0.5);
}

.scheduleDay:last-child {
  border-right: 5px solid black;
}

.scheduleDay .scheduleDayName {
  color: black;
  font-weight: bold;
  display: block;
  border-bottom: 2px solid black;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 5px 0px;
}

.scheduleDayInfo {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.scheduleTime {
  display: block;
  color: black;
}

.scheduleLocation {
  display: block;
  color: navy;
}

.Sunday{
  background-color:#3A86FF;
}

.Monday{
  background-color: #C04CFD;
}

.Tuesday{
  background-color: #8338EC;
}

.Wednesday{
  background-color: #E81B1B;
}

.Thursday{
  background-color: #FB5607;
}

.Friday{
  background-color: #FFBE0B;
}

.Saturday{
  background-color: #7BAF62;
}

.profileJumboAdjust{
  width:70vw;
  padding:1vw;
}

.reviewContain{
  border-radius: .5em;
  border: .25vw groove grey;
  padding: 1vw;
  width: 60vw;
  margin-bottom: 1vw;
}

.reviewContain > div{
  display: flex;
  justify-content: space-between;
}

.reviewText{
  font-size: 1.25vw !important;
}
