
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*.navbar {
  display: flex;
  align-items: center;

}

.navbar-inverse {
  display: flex;
  align-items: center;
}*/

.circle {
  display: block;
  width: 30px;
  height: 30px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 9em;
  -moz-border-radius: 9em;
  border-radius: 9em;
  border: .5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

body{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
	width:100%;
	height:100vh;
}
header{
	width:100%;
	background:white;
	height:60px;
	line-height:60px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:black;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom: 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}


.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: red !important;
  font-style: italic !important;
  font-weight: bold !important;
}

#map {
  width: 100%;
  height: 400px;
  background-color: white;
  background-image: url("https://pbs.twimg.com/media/Ctd9zlEVYAA3Z75.jpg:large");
  background-repeat: no-repeat;
  background-position: center;
}


.myJumbo {
  margin: 20px;
  padding: 0px;
}


.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}

.mainContain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.mainTruck {
  width: 65vw;
  min-width: 400px;
  min-height: 200px;
  text-align: center;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.mainReview {
  width: 25vw;
  min-width: 400px;
  min-height: 200px;
  text-align: center;
  background-color: silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewSnapshotContent {
  display: none;
}

.reviewSnapshotMover {
  display: none;
}

#selectTruckMessage {
}

.truckSnapshot {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.truckSnapshotImageBox {
  height: 100%;
  width: 20%;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckSnapshotImage {
  width: 90%;
}

.truckSnapshotInfoBox {
  width: 80%;
}

.truckSnapshotLink {
  color: blue;
}

.truckSnapshotOpen {
  color: green;
}

.truckSnapshotClose {
  color: maroon;
}


/*START SIGNUP PAGE*/
.myMain {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.signupForm {
  height: 100%;
  min-width: 400px;
  display: none;
  font-size: 1.2em;
  background-color: silver;
  padding: 5px 20px 10px 20px;
}

.formTopper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*END SIGNUP PAGE*/

.loginForm {
  height: 100%;
  min-width: 400px;
  font-size: 1.2em;
  background-color: silver;
  padding: 5px 20px 10px 20px;
}



/*Truck Profile Css*/
.truckProfileInfo{
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*background-color: rgba(0,0,0,0.7);*/
  padding: 20px;
}

.truckDescription {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center space-between;
}

.truckName {
  margin-bottom: 20px !important;
  color: black;
  text-align: center;
}

.logoContain{
  width: 17vw;
  max-height: 100%;
  max-width: 100%;
}

.panel, .panel-danger{
  width: 100% !important;
  margin-bottom: 0px;
}

.truckPicture {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckPicture .truckProfilePic{
  max-width: 50vw;
  max-height: 20vw;
}

.scheduleInfo {
  width: 95vw;
  align-items: center;
  justify-content: center;
}

.scheduleInfo .panel {
  border: 0px;
}

.schedule{
  width: 95vw;
  display: flex;
  flex-direction: row;
  padding: 0vw !important;
}

.scheduleDay {
  width: calc(100vw / 7);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  background-color: silver;
}

.scheduleDay:last-child {
  border-right: 5px solid black;
}

.scheduleDay:hover {
  background-color: rgba(0,0,0,0.5);
}

.scheduleDay .scheduleDayName {
  color: black;
  font-weight: bold;
  display: block;
  border-bottom: 2px solid black;
  width: 100%;
  text-align: center;
  font-size: 2vmin;
  padding: 5px 0px;
}

.scheduleDayInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.scheduleTime {
  display: block;
  color: black;
}

.scheduleLocation {
  display: block;
  color: navy;
}

.Sunday{
  background-color:#3A86FF;
}

.Monday{
  background-color: #C04CFD;
}

.Tuesday{
  background-color: #8338EC;
}

.Wednesday{
  background-color: #E81B1B;
}

.Thursday{
  background-color: #FB5607;
}

.Friday{
  background-color: #FFBE0B;
}

.Saturday{
  background-color: #7BAF62;
}

.profileJumboAdjust{
  width:70vw;
  padding: 1vw 0vw;
}

.reviewContain{
  border-radius: .5em;
  border: .25vw groove grey;
  padding: 1vw;
  width: 60vw;
  margin-bottom: 1vw;
}

.reviewContain > div{
  display: flex;
  justify-content: space-between;
}

.reviewText{
  font-size: 1.25vw !important;
}

/*New truck page*/

.newTruckForm {
  height: 100%;
  min-width: 400px;
  font-size: 1.2em;
  background-color: silver;
  padding: 5px 20px 10px 20px;
}
