.mainContain{
  display: flex;
  flex-flow: row;
  margin-left: 70px;
}

.mainTruck, .mainReview{
  width: 550px;
  margin-right: 50px;
  padding:5px;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.myJumbo {
  margin: 20px;
  padding: 0px;
}

/*START SIGNUP PAGE*/
.myMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signupForm {
  width: 50%;
  min-width: 400px;
  display: none;
}

.formTopper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*END SIGNUP PAGE*/

.loginForm {
  width: 50%;
  min-width: 400px;
}

.scheduleDay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheduleDayName {
  color: white;
  display: block;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.scheduleTime {
  display: block;
  color: black;
}

.scheduleLocation {
  display: block;
  color: navy;
}

/*Truck Profile Css*/
.profileContain{
  display: flex;
  flex-flow: row;
  padding:1vw;
}

.truckProfileContain{
  display: flex;
  flex-flow: column;
}

.logoContain{
  width: 17vw;
  max-height: 100%;
  max-width: 100%;
}

.truckProfilePic{
  height: 33.75vw;
  width: 50vw;
  max-height: 33.75vw;
  max-width: 50vw;
}

.panel, .panleDanger{
  width: 45vw !important;
  margin-right: 3vw !important;
}

.schedule{
  width: auto;
  display: flex;
  flex-flow: row;
  padding: 0vw !important;
}

.schedule > div{
  height: 7.5vw;
  width: 10vw;
}

.Sunday{
  background-color:#3A86FF;
}

.Monday{
  background-color: #C04CFD;
}

.Tuesday{
  background-color: #8338EC;
}

.Wednesday{
  background-color: #E81B1B;
}

.Thursday{
  background-color: #FB5607;
}

.Friday{
  background-color: #FFBE0B;
}

.Saturday{
  background-color: #7BAF62;
}

.profileJumboAdjust{
  width:70vw;
  padding:1vw;
}

.reviewContain{
  border-radius: .5em;
  border: .25vw groove grey;
  padding: 1vw;
  width: 60vw;
  margin-bottom: 1vw;
}

.reviewContain > div{
  display: flex;
  justify-content: space-between;
}

.reviewText{
  font-size: 1.25vw !important;
}
